body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

form input, button {
    padding: 8px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}
